/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
:root {
	--main-color: #1D6154;
	--display-connected: none;
	--display-connected-flex: none;
	--display-unconnected: block;
}

body {
	font-family: 'Work Sans';
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0;
}

a {
	text-decoration: none;
	color: unset;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--main-color);
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: #B1663C;
}

.display-connected-only {
	display: var(--display-connected) !important;
}

.display-connected-only-flex {
	display: var(--display-connected-flex) !important;
}

.display-unconnected-only {
	display: var(--display-unconnected) !important;
}

.edit {
	background: unset;
	border: unset;
	display: flex;
	gap: .5rem;
	font-size: 14px;
	cursor: pointer;
}

.container {
	max-width: 1140px;
	margin: auto;
}

#editor-mode {
	background: black;
	margin: unset;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	padding: .8rem 0;
	gap: .8rem;
}

#editor-mode button {
	border: none;
	border-radius: 15px;
	padding: .4rem 1rem;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1;
	padding: 0 2rem;
}
#introduction img {
	display: block;
	width: 80%;
	margin-bottom: 1rem;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 1em;
}
#portfolio h2 {
	text-align: center;
}

.my-projects {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3em;
	gap: 1em;
}

.filters {
	display: flex;
	justify-content: center;
	gap: .5rem;
}

.filter {
	border: solid 1px var(--main-color);
	padding: 3px 1rem;
	border-radius: 10px;
	margin-bottom: 1.5rem;
	cursor: pointer;
}

.filter-active {
	background-color: var(--main-color);
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact, .login {
	width: 50%;
	margin: auto;
}
#contact > *, .login > * {
	text-align: center;

}
#contact h2, .login h2 {
	margin-bottom: 20px;
}

.login h2, .login p {
	text-align: center;
}

.login p {
	text-decoration: underline;
}

#error {
	color: red;
}

#contact form, .login form, .add-project-form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input, .login input, .add-project-form input, .add-project-form select, .edit-projects-btns > button {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 0 1rem;
}
#contact label, .login label, .add-project-form label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"], .edit-projects-btns > button {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: var(--main-color);
	margin : 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.edit-projects {
	top: 0;
	left: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 99;
	background: rgba(0, 0, 0, 0.3);
	display: none;
	justify-content: center;
	align-items: center;
}

.edit-page-container {
	width: 35rem;
	height: 40rem;
	background: white;
	border-radius: 8px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
}

.edit-controls {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.edit-pages {
	width: 100%;
	height: 100%;
}

.edit-pages[data-state="inactive"] {
	display: none;
}

.edit-projects-page {
	padding: 0 3.5rem;
}

.edit-projects-page h3 {
	text-align: center;
	font-size: large;
	margin-bottom: 2rem;
}

.edit-projects-imgs {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	row-gap: 2rem;
	margin-bottom: 2rem;
}

.edit-projects-imgs .photo {
	width: 5rem;
	height: 7rem;
	position: relative;
}

.edit-projects-imgs .photo > img {
	width: 100%;
	height: 100%;
	margin-bottom: 2px;
}

.btns {
	position: absolute;
	display: flex;
	gap: .3rem;
	width: 100%;
	right: 0;
	justify-content: flex-end;
	padding: .4rem;
}

.btn-box {
	color: white;
	background: black;
	cursor: pointer;
	padding: .3rem;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	font-size: small;
}

.edit-projects-page hr {
	margin-bottom: 1.5rem;
}

.edit-projects-btns {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.edit-projects-btns > button {
	margin: unset;
	width: 215px;
	cursor: pointer;
}

.edit-projects-btns > p {
	color: red;
	cursor: pointer;
}
.add-photo-container {
	height: 13rem;
	background: #E8F1F6;
}

.add-photo-container > input {
	display: none;
}

.add-photo-info {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	height: 100%;
}

.add-photo-info > label {
	color: #306685;
	background-color: #CBD6DC;
	padding: 0.8rem 1.5rem;
	cursor: pointer;
	border-radius: 25px;
}

.add-photo-preview {
	height: 100%;
	display: flex;
	justify-content: center;
	margin: unset !important;
}

.add-project-form hr {
	width: 100%;
	margin-top: 2rem;
}

#modal-back, #modal-close {
	cursor: pointer;
}

#page-back-icon {
	display: none;
}